.btn {
  background: $red;
  border: 1px solid #b07a4b;
  padding: 0.781vw 1.51vw;
  outline: none !important;
  color: white;
  width: fit-content;
  font-size: 1.042vw;
  line-height: 1.25vw;
}

@media (max-width: 767px) {
  .btn {
    font-size: 20px;
    line-height: 24px;
    padding: 13px 28px;
  }
}
