.input {
  background: #fffcf4 !important;
  border: 2px solid #d2bd97;
  border-radius: 4px;
  resize: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 18px 16px;
  &:hover,
  &:focus {
    border: 2px solid #d2bd97;
  }
  input {
    background: #fffcf4 !important;
    border: none !important;
  }
  .ant-input-prefix {
    margin-right: 28px;
  }
  &-ta {
    padding-bottom: 22px;
  }
}
textarea {
  background: #fffcf4 !important;
  resize: none !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}
.flag-dropdown {
  background: #fffcf4 !important;
}
.react-tel-input {
  .form-control {
    background: #fffcf4 !important;
    border: 2px solid #d2bd97;
    border-radius: 4px;
    padding: 18px 16px 18px 70px;
    font-size: 16px;
    height: auto;
    width: 100%;
  }
  .selected-flag {
    width: 60px;
  }
  .selected-flag > .flag {
    transform: scale(1.5) translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 901px) {
  .input {
    padding: 18px 16px;
  }
  .react-tel-input {
    .form-control {
      background: #fffcf4 !important;
      border: 2px solid #d2bd97;
      border-radius: 4px;
      padding: 18px 16px 18px 70px;
      font-size: 16px;
      height: auto;
      width: 100%;
    }
  }
}
