.wrapper {
  position: relative;
  margin-left: 6.5vw;
  margin-right: 6.5vw;
}

.popover {
  border: 1px solid #e2c16a;
  position: absolute;
  bottom: -240px;
  background-color: #000;
  width: 300px;
  padding: 35px 35px 25px 15px;
  p {
    margin-bottom: 15px;
    line-height: 21px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    &:hover {
      color: #d3d3d3;
    }
  }
}
