.text {
  font-size: 1.042vw;
  line-height: 1.25vw;
  &-md {
    font-size: 1.2vw;
    line-height: 1.8vw;
  }
  &-sm {
    font-size: 0.938vw;
    line-height: 1.146vw;
  }
  &-bold {
    font-family: MB;
  }
}

h2 {
  font-size: 1.7vw;
  line-height: 2.1vw;
}
.h1 {
  font-size: 2.3vw;
  line-height: 2.8vw;
  color: $gold;
  font-family: MR;
}
