$gold: #e2c16a;
$gold-l: #e4ca7d;
$gold-d: #7b6908;
$gold-b: #c6ab6b;
$yellow: #ffca05;
$red: #8b2230;
$dark: #202020;
$bg: #fcf2d7;
$bg-l: #fdf7e9;

$mediaWidthLaptop: 1440px;
$mediaWidthDesktop: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 550px;
