@import '../../styles/vars';
.header {
  background: $dark;
  position: sticky;
  top: 0;
  z-index: 100;
  &::before {
    content: '';
    width: 100%;
    height: 1vw;
    display: block;
    background: $gold-b;
  }
  &__logo {
    width: 14vw;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 0;
  }
  &__navbar {
    display: flex;
    align-items: center;
  }
  &__link {
    cursor: pointer;
    color: white;
    &:hover {
      color: white;
    }
    & + & {
      margin-left: 6.5vw;
    }
    &-no {
      color: white !important;
    }
    &.active {
      color: $gold-l;
      font-family: MB;
    }
  }
}

@media (max-width: 901px) {
  .header {
    &::before {
      height: 8px;
    }
    &__menu {
      opacity: 0;
      position: absolute;
      top: 99%;
      transition: 0.3s opacity;
      height: 0;
      padding: 0;
      overflow: hidden;
      flex-direction: column;
      justify-content: space-between;
      background: $dark;
      width: 100%;
      &.open {
        opacity: 1;
        padding: 70px 40px 35px;
        height: calc(100vh - 60px);
      }
      &-logo {
        width: 185px;
        margin: 0 auto;
      }
      &-nav {
        display: flex;
        flex-direction: column;
      }
      &-link {
        color: white !important;
        & + & {
          margin-top: 25px;
        }
        &.active {
          color: $gold-l !important;
        }
      }
    }
    &__logo {
      width: 115px;
    }
    &__content {
      padding: 7px 0;
    }
    &__btn {
      width: 31px;
      justify-content: center;
    }
  }
}

.CorporateGovernancePopoverWrapper {
  width: 300px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  height: 100%;
  width: 100%;
  p {
    margin-bottom: 15px;
    cursor: pointer;
  }
}
