.c-card {
  padding: 4vw 0 3vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  &__logo {
    &-box {
      height: 4.948vw;
      display: flex;
      justify-content: center;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin: 2.344vw 0 1.823vw;
    max-width: 20.135vw;
    color: white;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    max-height: calc(3 * 1.146vw + 3 * 0.521vw);
    flex-wrap: wrap;
    width: max-content;
    &-item {
      margin-bottom: 0.521vw;
      width: max-content;
      &:nth-child(n + 4) {
        margin-left: 2.604vw;
      }
    }
  }
  &__link {
    width: fit-content;
    margin: 1.823vw auto 0;
  }
}

@media (max-width: 767px) {
  .c-card {
    padding: 40px 15px 75px;
    overflow: hidden;
    &__content {
      width: 100%;
    }
    &__title {
      font-size: 25px;
      line-height: 30px;
      max-width: 287px;
      margin: 50px auto 30px;
    }
    &__logo {
      max-width: 100%;
      &-box {
        margin: 0 auto;
        height: 62px;
        width: 194px;
      }
    }
    &__link {
      margin-top: 40px;
    }
    &__list {
      max-height: calc(3 * 30px + 3 * 10px);
      margin: 0 auto;
      &-item {
        max-width: 197px;
        margin-bottom: 10px;
        &:nth-child(n + 4) {
          margin-left: 30px;
        }
      }
    }
  }
}
