.c-card {
  padding: 4vw 0 3vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  &__logo {
    &-box {
      height: 4.948vw;
      display: flex;
      justify-content: center;
      img {
        height: 100%;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin: 2.344vw auto 1.823vw;
    max-width: 25.135vw;
    color: white;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-grid {
      display: grid;
      grid-template-columns: 1fr 217px;
      align-items: flex-start;
      grid-column-gap: 20px;
      margin-right: -30px;
    }
    &-item {
      width: max-content;
      min-width: 140px;
      margin-bottom: 15px;
    }
  }
  &__link {
    width: fit-content;
    margin: 1.823vw auto 0;
  }
}
@media (max-width: 1200px) {
  .c-card {
    &__list {
      &-grid {
        display: flex;
        align-items: center;
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 901px) {
  .c-card {
    padding: 40px 15px 75px;
    overflow: hidden;
    &__content {
      width: 100%;
    }
    &__title {
      font-size: 25px;
      line-height: 30px;
      max-width: 287px;
      margin: 50px auto 30px;
    }
    &__logo {
      max-width: 100%;
      &-box {
        margin: 0 auto;
        height: 62px;
        width: 194px;
      }
    }
    &__link {
      margin-top: 40px;
    }
    &__list {
      margin: 0 auto;
      &-item {
        margin-bottom: 10px;
        span {
          margin-right: 5px;
        }
      }
    }
  }
}
