@import '../../styles/_vars';
@import '../../styles/mixins/media';

.block {
  font-style: normal;
  font-weight: normal;
  margin-bottom: 50px;
}

.title {
  font-size: 30px;
  color: $red;
  margin-bottom: 20px;
  line-height: 1;
  @include b(tablet) {
    font-size: 24px;
  }
}

.subtitle {
  font-size: 23px;
  line-height: 36px;
  color: $red;
  margin-top: 35px;
  margin-bottom: 10px;
  @include b(tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text {
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  @include b(tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.paragraph {
  margin-bottom: 35px;
}

.ol {
  margin-top: 20px;
  margin-bottom: 40px;
  list-style-type: lower-alpha;
  margin-left: 24px;
  text-align: left;
  li {
    padding-left: 40px;
    margin-bottom: 10px;
  }
}
