@import '../../styles/vars';
@import '../../styles/mixins/media';

.corporate-governance {
  &__preview {
    min-height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px;
    background-image: url(../../assets/img/sections/contact-preview.jpg);
    background-size: contain;

    background-position: right;
    background-color: black;
    background-repeat: no-repeat;

    @include b(tablet) {
      background-size: cover;
    }

    .h1 {
      font-size: 30px;
      line-height: 1.1;

      @include b(tablet) {
        font-size: 20px;
      }
    }

    &-title {
      @include b(tablet) {
        text-align: center;
      }
    }
  }
  &__content {
    padding: 70px 20px;
    max-width: 1500px;
    margin: 0 auto;
  }
}
